@font-face {
  font-family: "Vazir-FD";
  src: url("../../../../assets/font/Vazir-FD.woff") format("woff");
}
* {
  font-family: "Vazir-FD" !important;
}

.header_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px;
}

.option_parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.searchInput_style {
  background: none;
  border: none;
  padding: 15px;
  background-color: #e7e7e7;
  border-radius: 5px;
  width: 100%;
  margin: 0 15px 0 0;
}

.searchInput_style:focus {
  outline: none;
  border: none;
}

.searchInput_style::placeholder {
  color: #a4a4a4;
}

.icon_style {
  font-size: 20px;
}

.optionStyle_button {
  background: none;
  border: none;
}

.user_style {
  background: orange;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
}

.userOption_styles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName_style {
  font-weight: bold;
  font-family: cursive;
}

.after_before_style::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border-radius: 50%;
}

.option_Style {
  position: relative;
}

.userIcon_styles {
  color: white;
}
