@font-face {
  font-family: "Vazir-FD";
  src: url("../../../../assets/font/Vazir-FD.woff") format("woff");
}

* {
  font-family: "Vazir-FD" !important;
}

.header_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px;
}

.sidebar_header_style h4 {
  color: black;
  font-weight: bold;
  margin: 0 15px 0 0;
  position: relative;
}

.sidebar_header_style h4::after {
  content: "خوش آمدید";
  position: absolute;
  top: -12px;
  width: 100%;
  right: 0;
  font-size: 8px;
  font-weight: bold;
}

.header_style_dark {
  background-color: #000000;
}

.header_style_dark * {
  color: white !important;
}

.responsive_style {
  width: 20%;
}


@media screen and (max-width:1025px) {
  .responsive_style {
    display: none;
  }
}