.mantine-1ekwqkd {
  direction: rtl;
  right: 0 !important;
}
.mantine-12sbrde {
  margin-top: 35px;
}
/* label span for requiered */
.mantine-8o2w2t {
  display: none;
}
.mantine-InputWrapper-label {
  margin-right: 10px;
}
/* label */
.mantine-TextInput-label {
  left: unset !important;
  right: 0 !important;
}
/* placeholder */
.mantine-14h1fwz {
  text-align: right;
}
input[type="date"]::-webkit-datetime-edit-text {
  display: none;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  display: none;
}
.mantine-TextInput-error {
  position: absolute;
  height: 0;
}
.mantine-TextInput-wrapper {
  margin-top: 35px;
}
.mantine-Input-input {
  text-align: right;
}
