.edit_input {
  width: 75px;
  border: none;
  -webkit-appearance: none;
}
.edit_input:focus {
  box-shadow: none;
  border: none;
}
.edit_input[type="date"] {
  width: unset;
}
.edit_input::-webkit-outer-spin-button,
.edit_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit_input[type="number"] {
  -moz-appearance: textfield;
  width: 40px;
}
.edit_input_dark {
  background-color: gray;
}
