.add_btn {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  margin: 0 0;
  border: none;
}

.add_btn_dark {
  background-color: black;
}

.add_btn :hover {
  background-color: darkblue;
}

.header_footer_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titleTableHeader {
  text-align: right;
  width: 100%;
  display: block;
  margin: 0 0 10px 0;
}

.table_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
}

.searchInput_parent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcdcdc;
  border-radius: 5px;
  padding-left: 20px;
}

.searchInput_parent_dark {
  background: #2c3034;
}

.search_btn {
  font-size: 15px;
  border: none;
}

.searchInput_style {
  background: none;
  border: none;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  margin: 0 15px 0 0;
}

.searchInput_parent_dark .searchInput_style::placeholder {
  color: white;
}

.searchInput_style:focus {
  outline: none;
  border: none;
}

.optionStyle_button {
  background: none;
  border: none;
  position: relative;
  border-right: 1px solid black;
  padding: 0 20px 0 0;
  height: 20px;
}


@media screen and (max-width: 575px) {
  .header_footer_style {
    display: block;
  }

  .searchInput_parent {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .searchInput_style {
    padding: 12px;
  }

  .add_btn_parent {
    text-align: center;
  }

  .add_btn {
    padding: 12px 20px;
    border-radius: 6px;
    width: 35%;
  }
}

@media screen and (min-width:576px) and (max-width:768px) {
  .searchInput_parent {
    width: 70%;
  }
}

@media screen and (min-width:769px) and (max-width:1024px) {
  .searchInput_parent {
    width: 70%;
  }
}