.add_btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 600;
  margin: 0 20px;
}
.table_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
