.add_btn {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-weight: 600;
  margin: 0 20px;
  border: none;
}

.table_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row-reverse;
}
