.ant-modal-header {
  direction: rtl;
  /* background-color: gray; */
}
.ant-modal-close {
  left: 0 !important;
}
.ant-modal-footer {
  text-align: left !important;
  /* background-color: gray; */
}
.ant-modal-footer .ant-btn-default {
  border-radius: 5px;
  padding: 5px 15px;
}
.ant-modal-footer .ant-btn-default :hover {
  color: black;
  border: none;
}
.ant-btn-primary {
  border-radius: 5px !important;
  border: none !important;
  padding: 5px 20px !important;
  background-color: #00008b !important;
}
.ant-btn-primary:hover {
  background-color: #00006f !important;
}
.ant-modal-body {
  text-align: right;
}
.ant-modal-confirm .ant-modal-confirm-btns {
  text-align: left;
}
.ant-modal-confirm-body > .anticon {
  float: left;
  margin-left: 10px;
}
.ant-modal-confirm-content {
  text-align: center;
  font-weight: 800;
}
.ant-modal-confirm-btns {
  text-align: left !important;
}
