@font-face {
  font-family: "Vazir-FD";
  src: url("../../assets/font/Vazir-FD.woff") format("woff");
}

body {
  font-family: "Vazir-FD" !important;
}

@keyframes opensidebar {
  0% {
    width: 5.5%;
  }

  5% {
    width: 7%;
  }

  10% {
    width: 8%;
  }

  15% {
    width: 10%;
  }

  20% {
    width: 12%;
  }

  25% {
    width: 14%;
  }

  30% {
    width: 16%;
  }

  35% {
    width: 18%;
  }

  40% {
    width: 20%;
  }
}

.dashboard {
  width: 80%;
  font-family: "Vazir-FD";
  min-height: 100vh;
  transition: width 2s;
}

.dashboard_false {
  width: 96.5%;
  min-height: 100vh;
  transition: width 2s;
}

.Sidebar {
  width: 20%;
  min-height: 100vh;
  animation: opensidebar 2s none;
}

.Sidebar_false {
  width: 5.5%;
  transition: width 2s;
  min-height: 100vh;
}

.dashboard_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  direction: rtl;
}
.dashboard_container_dark {
  background-color: rgb(42, 42, 42);
}
