.table_container {
  border-radius: 10px;
  overflow: hidden;
  direction: rtl;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.table_st {
  width: 100% !important;
  margin: 0 auto;
}

.table_background {
  /* background: darkblue; */
  color: white;
  padding: 10px;
}

th {
  padding: 12px !important;
}

tr {
  background: white !important;
  color: darkblue !important;
}
