* {
    list-style-type: none !important;
    font-family: "Vazir-FD" !important;
}

@font-face {
    font-family: "Vazir-FD";
    src: url("../../../../assets/font/Vazir-FD.woff") format("woff");
}

.sidbar_style {
    position: relative;
    width: 100%;
    background: white;
    min-height: 100vh;
    box-shadow: -4px 0px 20px 0px #ececec;
}

.close_sidbar_style {
    position: relative;
    width: 100%;
    background: white;
    min-height: 100vh;
    box-shadow: -3px 0px 20px 0px #e7e7e7;
}

.sidebar_toggle_button_style {
    position: absolute;
    top: 400px;
    left: 0%;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: darkblue;
    display: flex;
    justify-content: center;
    background: none;
    align-items: center;
}

.sidebar_title {
    margin: 0;
    padding: 0;
    color: darkblue;
    font-weight: bold;
}

.sidebar_footer_style {
    position: absolute;
    bottom: 0;
    color: darkblue;
    padding: 15px 10px 15px 10px;
    width: 100%;
}

.sidebar_paragraf {
    margin: 0;
    padding: 5px;
}

.side_button_style {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.listItem_button_style {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItem_style {
    width: 95%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 8px;
    color: darkblue;
    margin-top: 15px;
    margin-right: 20px;
}

.listItem_style:hover {
    background: darkblue;
    color: white;
}

.sidebar_main_style {
    margin: 30px 0 0 0;
}

.listItem_button_paragraf_style {
    margin: 0 10px 0 0;
    font-weight: bold;
}

.icon_style {
    font-size: 25px;
}

.listItem_parent {
    padding: 0;
}

.close_sidebar {
    visibility: hidden;
}

.close_sidebar_paragraf {
    display: none;
}

/* .sidebarLogo_parent{
} */
.sidebar_logo{
    width: 100%;
    display: block;
    margin: 0 auto;
    width: 15%;
    padding-top: 20px;
}